
* {
    font-family: urbanist;
}


.wrapper {
    padding: 0 8px;
    margin: 0 auto;
    min-width: 359px;
}


header {
    box-sizing: border-box;
    padding-right: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    align-items: center;
    margin-left: 0px;
    gap: 24px;
}

.left-side img {
    width: 103px;
    height: 29px;
}

.menu-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 16px;
    position: relative;
    background-color: #006CE5;
    gap: 4px;

}

.menu-line {
    width: 16px;
    height: 1px;
    background-color: #FFF;

}

.menu-element {
    width: 16px;
    height: 1px;
}

.menu-list {
    display: none;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 8px;
}

.youtube {
    width: 29px;
    height: 29px;
    padding-left: 8px;
    border-left: 1px solid #D4D4D4;
}

.live {
    color: #ED0E05;
    font-size: 16px;
    font-weight: 600;
}

.menu {
    display: none;
}

.news-section {
    width: 359px;
    margin: 0 auto;
}

.big-picture-news {
    width: 100%;
}

.mini-header {
    display: block;
    color: #1A1B1B;
    font-size: 17px;
    line-height: 125%;
    text-align: left;
    margin-top: 44px;
}

.big-header {
    color: #1A1B1B;
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
    padding-bottom: 8px;
    border-bottom: 1px solid #D4D4D4;
    margin-top: 12px;
}

.fire-three {
    display: flex;
    flex-direction: column;
}

.big-picture {
    height: 416px;
    background-image: url("../img/image1.png");
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    align-self: center;
}

.poland-tag.main {
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: white;
}

.main-image-text {
    color: #1A1B1B;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
    margin-top: 16px;
}

.poland-tag {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.article-name {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 24px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 24px;
}

.triple {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triple img {
    width: 359px;
    height: 166px;
    position: relative;
}

.first-player {
    position: relative;
    max-width: 359px;
    min-width: 359px;
}

#icon-player1 {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 10px;
    right: 10px;
}


.rest-news-title {
    color: #1A1B1B;
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
}

.rest-picture-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.test {
    display: flex;
    flex-direction: column;
}

.rest-news-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rest-news-blocks img {
    width: 359px;
    height: 166px;
}

.news-texts {
    max-width: 359px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.topic-tag {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    padding: 6px 20px 6px 0px;
    margin-top: 12px;
}

.article-name2 {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
}

.article-description {
    color: #1A1B1B;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;
}


.player-position {
    position: relative;
}

#icon-player {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 10px;
    right: 10px;
}


.pages-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.pages-list li {
    list-style-type: none;
}

.pages-list a {
    text-decoration: none;
    color: #1A1B1B;
}

.pages {
    width: 17px;
    height: 17px;
    text-align: center;
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #D4D4D4;
}

.pages.color a {
    color: #006CE5;
}

.search-section {
    background: #EEF2F3;
    padding-top: 44px;
    padding-bottom: 44px;
}


.searches {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searches img {
    width: 16px;
    height: 16px;
    padding: 10px;
    background-color: #006CE5;
}

.search-line {
    width: 270px;
    background: #DCE4E7;
    padding: 10px;
    /* margin-left: 34px; */
}

.search-text {
    color: #919191;
    width: 316px;
    font-size: 14px;
    line-height: 110%;
}

.tags-choose {
    background: #EEF2F3;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 16px;
}


.text-tags {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}

.tags1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px
}

.tags1 li {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    background-color: #FFF;
    border-radius: 18px;
    list-style-type: none;
}

.tags1 a {
    text-decoration: none;
    color: #1A1B1B;
}

footer img {
    width: 154px;
    height: 42px;

}

.footer-text {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 24px;
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.test1 {
    width: 100%;
    height: 100%;
}


@media screen and (min-device-width: 768px) {

    .mini-header {
        font-size: 22px;
    }

    .big-header {
        font-size: 62px;
    }

    .main-image-text {
        font-size: 28px;
    }

    .news-section {
        width: 744px;
    }

    .big-picture-news {
        max-width: 744px;
        width: 744px;
        margin: 0 auto;
    }

    .fire-three {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .triple {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
    }

    .triple img {
        width: 296px;
        height: 166px;
        position: relative;
    }

    .first-player {
        position: relative;
        max-width: 296px;
        min-width: 296px;
    }

    .test1 {
        width: 296px;
    }

    .news-texts {
        max-width: 424px;
    }

    .article-name {
        color: #1A1B1B;
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        padding-bottom: 0px;
        border-bottom: none;
        margin-bottom: 0px;
    }


    .rest-picture-block {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .rest-news-blocks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .rest-news-blocks img {
        width: 296px;
        height: 166px;
    }

    .rest-news-title {
        padding-bottom: 32px;
        padding-top: 32px;
        border-top: 1px solid #D4D4D4;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .topic-tag {
        padding: 6px 20px 6px 0px;
        margin-top: 0px;
    }

    footer img {
        width: 196px;
        height: 54px;
    }
}

@media screen and (min-device-width: 1368px) {

    .wrapper {
        padding: 0 36px;
        margin: 0 auto;
        min-width: 359px;
    }

    .pc-flex {
        display: flex;
        gap: 24px;
        padding-top: 32px;

    }

    .mini-header {
        padding-top: 48px;
        margin-top: 0px;
    }

    .fire-three {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .triple {
        padding-top: 32px;
        border-top: 1px solid #D4D4D4;
    }

    .triple.line {
        padding-top: 0px;
        border-top: none;
    }

    .triple img {
        width: 196px;
        height: 110px;
        position: relative;
    }

    .first-player {
        position: relative;
        max-width: 196px;
        min-width: 196px;
    }

    .test1 {
        width: 296px;
    }

    .menu-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 36px;
    }

    .news-section {
        width: 1296px;
    }

    .news-texts {
        max-width: 526px;
    }


    .main-image-text {
        font-size: 28px;
        padding-bottom: 56px;
    }

    .news-section {
        padding-top: 56px;
        border-top: 1px solid #D4D4D4;
    }

    .rest-news-title {
        padding-bottom: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        border-top: none;
    }

    .big-picture-news {
        min-width: 1296px;
        margin: 0 auto;
    }

    .header-container {
        display: flex;
        align-items: center;
        padding: 14px 36px 14px;
    }

    .menu-lines {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }



    .menu li {
        list-style-type: none;
    }

    .menu a {
        text-decoration: none;
        color: #1A1B1B;
    }

    .menu-items {
        color: #1A1B1B;
        font-size: 16px;
        font-weight: 600;
    }

    .rest-news-blocks img {
        width: 306px;
        height: 172px;
    }

    .left-side img {
        width: 114px;
        height: 32px;
    }
}
